/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

html, body {
  height: 100%;  /* Garantir que ocupe 100% da altura da tela */
  width: 100vw;
  overflow-x: hidden;  /* Impede rolagem horizontal */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body {
  background: #fff;
  overflow-y: auto;  /* Permite rolagem apenas na vertical */
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}
